name: Deployment

on:
  push:
    branches:
      - main

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: Test
    steps:
      - name: deploy
        run: |
          echo "testing environment"
