name: jira

on:
  pull_request:
  push:

jobs:
  deploy:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    environment: prod
    # timeout-minutes: 5
    steps:
      - uses: actions/checkout@v5
  
      # - uses: actions/github-script@v1
      #   with:
      #    script: |
      #      github.rest.git.createRef({
      #        owner: context.repo.owner,
      #        repo: context.repo.repo,
      #        ref: 'refs/heads/featureA',
      #        sha: context.sha
           # }) 

      - name: Set GitHub Summary
        run: |
          
          git config --global user.email "oki.maureen.eloho@gmail.com"
          git config --global user.name "okimaureen"
          git tag -a "prod-deployed-$(git rev-parse --short HEAD)" -m "Prod deployed"
          git push -f origin --tag
          echo "This is the lead in sentence for the list" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY # this is a blank line
          echo "- Lets add a bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- Lets add a second bullet point" >> $GITHUB_STEP_SUMMARY
          echo "- How about a third one?" >> $GITHUB_STEP_SUMMARY
        shell: bash
   
      - name: Set GitHub Path
        run: |
          echo "Hello there" >> "$GITHUB_STEP_SUMMARY"
        shell: bash

      - name: Set GitHub Path
        run: |
          echo "Hello my" >> "$GITHUB_STEP_SUMMARY"
        shell: bash
      # - name: run action
      #   uses: first-org-ea-sandbox/actionless/.github/workflows/new.yml@v2
